html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #0056b3;
}

/* Styles for Index.html */

.container {
  text-align: center;
  margin-top: 50px;
}

.button-link button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-link button:hover {
  background-color: #007bff;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-area {
  /* Styles for header area if needed, takes height based on content */
}

.header-area a button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-area a button:hover {
  background-color: #007bff;
  color: white;
} 